/* ==================================
    Custom Fonts
================================== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* ==================================
    Common Styles
================================== */
body {
  font-family: "Poppins", sans-serif;
}

/* ==================================
    Navbar custom Styles
================================== */
.nav-title {
  font-size: 22px;
  font-weight: 700;
  color: #3e3e3e !important;
}
.brand-color {
  color: #ec6385;
}
.nav-item .nav-link {
  color: #3e3e3e !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
  font-weight: 500;
  padding: 0 1.2rem;
}

/* ==================================
    Slider custom Styles
================================== */
.slider-contents {
  bottom: 3rem;
  right: 28%;
  left: 28%;
}
.slider-btn {
  padding: 0.5rem 2rem;
  background-color: #fff;
  color: #ec6385;
  font-weight: 500;
}
.slider-btn:hover {
  background-color: #ec6385;
  color: #fff;
}

/* ==================================
    About custom Styles
================================== */
#about-us {
  margin-top: 5%;
}
.brand-btn {
  padding: 0.5rem 2rem;
  background-color: #ec6385;
  color: #fff;
  font-weight: 500;
}
