/* ==================================
    Custom Fonts
================================== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* ==================================
    Common Styles
================================== */
body {
  font-family: "Poppins", sans-serif;
}

/* ==================================
    Navbar custom Styles
================================== */
.nav-title {
  font-size: 22px;
  font-weight: 700;
  color: #3e3e3e !important;
}
.brand-color,
.card-list-item i {
  color: #ec6385;
}
.nav-item .nav-link {
  color: #3e3e3e !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
  font-weight: 500;
  padding: 0 1.2rem;
}

/* ==================================
    Slider custom Styles
================================== */
.slider-contents {
  bottom: 3rem;
  right: 28%;
  left: 28%;
}
.slider-btn {
  padding: 0.5rem 2rem;
  background-color: #fff;
  color: #ec6385;
  font-weight: 500;
}
.slider-btn:hover {
  background-color: #ec6385;
  color: #fff;
}

/* ==================================
    About custom Styles
================================== */
#about-us,
#testimonial,
#gallery,
#packages,
#faq {
  margin-top: 5%;
}
.brand-btn {
  padding: 0.5rem 2rem;
  background-color: #ec6385;
  color: #fff;
  font-weight: 500;
}
/* ==================================
    Gallery custom Styles
================================== */
.gallery-img:hover {
  transform: scale(1.2, 1.2);
  transition: transform 2s;
}

/* ==================================
    Packages custom Styles
================================== */
.card-list-item {
  padding: 0.5rem 0;
  background: none;
}
.hot-card {
  color: #fff;
  background: #3f87f5;
  box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
  border-radius: 26px;
  position: relative;
}
.hot {
  position: absolute;
  top: -10px;
  right: 15px;
  padding: 5px 12px;
  background-color: red;
  border-radius: 50px;
}
.hot-card .card-list-item i,
.hot-card .card-list-item {
  color: #fff;
}
