/* ==================================
    Custom Fonts
================================== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* ==================================
    Common Styles
================================== */
body {
  font-family: "Poppins", sans-serif;
}
#about-us,
#testimonial,
#gallery,
#packages,
#faq {
  padding-top: 70px;
}
.brand-color,
.card-list-item i {
  color: #ec6385;
}
.hot-card .card-list-item i,
.hot-card .card-list-item {
  color: #fff;
}

/* ==================================
    Slider custom Styles
================================== */
.slider-btn {
  padding: 0.5rem 2rem;
  background-color: #fff;
  color: #ec6385;
  font-weight: 500;
}
.slider-btn:hover {
  background-color: #ec6385;
  color: #fff;
}

/* ==================================
    About custom Styles
================================== */
.brand-btn {
  padding: 0.5rem 2rem;
  background-color: #ec6385;
  color: #fff;
  font-weight: 500;
}

/* ==================================
    Gallery custom Styles
================================== */
.gallery-img:hover {
  transform: scale(1.2, 1.2);
  transition: transform 2s;
}

/* ==================================
    Packages custom Styles
================================== */
.card-list-item {
  padding: 0.5rem 0;
  background: none;
}
.hot-card {
  color: #fff;
  background: #3f87f5;
  box-shadow: 0px 20px 20px rgba(63, 135, 245, 0.25);
  border-radius: 26px;
  position: relative;
}
.hot {
  position: absolute;
  top: -10px;
  right: 15px;
  padding: 5px 12px;
  background-color: red;
  border-radius: 50px;
}

/* ==================================
    Footer custom Styles
================================== */
#footer {
  margin-top: 70px;
  background-color: #0b0d17;
  color: #fff;
}
